* {
  margin: 0;
  padding: 0;
  background-image: url(rk/ima.jpg);
  background-repeat: no-repeat;
  background-size: cover; }
img[alt = "hello"] {
  position: relative;
  left: 500px;
  margin-top: 20px;
}

